{% extends 'base.html.twig' %}


{% block title %}AFRK50 | New listing{% endblock %}

{% block body %}
  
 


<div id="content" class="section-padding">
    <div class="row">
        <div class="col-sm-9 m-auto">
            <div class="container">

                 <div class="row mt-3">
                    <div class="col-sm-12 p-0">
                        <div class="">
                            
                            <div class="card-body new-company-header">
                                <h1>Listing Type Descriptions</h1>
                                <p>Creating a Listing on AFRK50 gives you the possibility to publish your profile or the profile of your company by choosing one of these Listing Types</p>
                            </div>
                          </div>
                    </div>
                </div>
 
        
                {% for item in listing %}
                <div class="row mb-5" data-aos="fade-up">
                    <div class="col-sm-4 p-0" >
                        <div class="listing-photoURL" style="background-image: url({{item.photoURL}});"></div>
                    </div>
                    <div class="col-sm-8 p-0">
                        <div class="card listing-card-bloc">
                             
                            <div class="card-body">
                                <h3 class="listing-title">{{item.name}}</h3>
                                 <div>

                                   {{ item.content | raw }}
                                 </div>

                                 <div>
                                     <a href="{{ path('new_listing_route',{id:item.id}) }}" class="btn btn-primary ">Add {{item.name}} listing</a>
                                 </div>
                            </div>
                          </div>
                    </div>
                </div>
                {% endfor %}


                 


        
            </div>
        </div>
    </div>

</div>




{% endblock %}


 

