{% extends 'base.html.twig' %}


{% block title %}AFRK50 | Checkout{% endblock %}

{% block body %}


{% if app.user.isBlocked == false %}


<div id="content" class="section-padding">
    <div data-aos="fade-up" class="row">
        <div class="col-sm-12 col-md-7 m-auto">
            <div class="container">

                <div class="row"> 
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="text-muted">
                                    In order to continue please choose one of the following payment methods.
                                </p>
                                 <h3>{{ title }}</h3>

                                 
                                 <p class="text-muted">{{ money | format_currency('EUR') }}</p>

                                <button class="back-btn btn-secondary btn-sm">Back</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="row">
                            <div class="col-12">
                                <div id="paypal-button-container"></div>
                            </div>
                        </div>
                        {% if stripeID != null and stripeID != '' %}
                            <div class="row">
                                <div class="col-12">
                                    <button id="stripe-button-container">Checkout with <strong>stripe</strong>  </button>
                                    <p class="text-center">
                                        <img src="/img/logo-stripe3.png" style="height: 37px;">
                                    </p>
                                </div>
                            </div>
                        {% endif %}


                        
 
                        
                        
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
{% else %}

<div id="content" class="section-padding">
    <div data-aos="fade-up" class="row">
        <div class="col-sm-12 col-md-7 m-auto">
            <div class="container">
                <div class="alert alert-danger">
                    You account has been blocked by AFRK50 support team.
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}




{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>






<script
    src="https://www.paypal.com/sdk/js?client-id=AUyTMyoh7V4HJclHvd92dwc31dpChVtoL3312h-1SDavXeraZyAkuPL6vC4yYO4P7F9rK2ThcDtjex3b&currency=EUR&vault=true"
    data-namespace="paypal_sdk"></script>



<script>
    $(document).ready(function () {
        paypal_sdk.Buttons({
            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{money}}'
                        }
                    }]
                });
            },

            onApprove: function (data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function (details) {
                    // activate membre duration for the correcponding baugt duration
                    window.location='/?message=Your purchase is successfully made , we will contact you as soon as possible';

                });
            }
            
            
        }).render('#paypal-button-container');


    })
</script>


<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe('pk_test_51KEX7GIYJLTSS40amiNKqXVYuf3fhZN0uopesbjQyvcL6TvcPNQ5HpKXCwxewB5qwvvK1jVjW4uxKz5wwMrTAHyE001JwdITXP');

   

    document.getElementById("stripe-button-container").addEventListener("click",function(){
        stripe.redirectToCheckout({
            lineItems:[
                {
                    price:'{{stripeID}}',
                    quantity:1
                }
            ],
            mode:'payment',
             
            successUrl:"http://localhost:8000/?message=Your purchase is successfully made , we will contact you as soon as possible",
            cancelUrl:"http://localhost:8000"
            
        }).then(function(result){
            console.log(result);
        }) 

        
 


    })

</script>



<script type="text/javascript" src="https://sandbox.masterpass.com/integration/merchant.js"></script>

<script> 

 // Invoke below javascript method

    var stripe = Stripe('pk_test_51KEX7GIYJLTSS40amiNKqXVYuf3fhZN0uopesbjQyvcL6TvcPNQ5HpKXCwxewB5qwvvK1jVjW4uxKz5wwMrTAHyE001JwdITXP');

   

    document.getElementById("stripe-button-container").addEventListener("click",function(){
        stripe.redirectToCheckout({
            lineItems:[
                {
                    price:'{{money}}',
                    quantity:1
                }
            ],
            mode:'payment',
            successUrl:"http://localhost:8000/?message=Your purchase is successfully made , we will contact you as soon as possible",
            cancelUrl:"http://localhost:8000/"
        }).then(function(result){
            console.log(result);
        })
    })


</script>

{% endblock %}