{% extends 'base.html.twig' %}

{% block title %}Account features - AFRK50 {% endblock %}

{% block body %}


<div id="content" class=" ">
    <div class="container-fluid p-0">
        <div class="d-flex w-100 page-cover"
            style="flex-direction: column;
         justify-content: space-between;
         align-items: start;min-height: 45vh;background-image: url({{asset('/assets/img/features-afrk50-header-bg.jpg')}});">
            <div class="container">
                <!-- <img src="/assets/img/afrk50-logo.png" class="mt-4" alt="" width="176px">-->
            </div>
            <div class="container">
                <div class="page-title">FEATURES</div>
            </div>
        </div>


        <div class=" custom-page-content">








            <section class="lets-work-together"> 


                    <div class="widget-bloc">
                        <div class="container">
                            <div class="custom-page-title mt-3 ">
                                FUNCTIONS & FEATURES
                            </div>

                            <p class="text-muted">
                                In this area you will find all the complementary functions of your account but also the
                                Extras features you can add. Explore them, use them and enjoy the extra visiblity they
                                offer to your company!
                            </p>




                            <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/official-dedicated-introduction.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="card listing-card-bloc">

                                            <div class="card-body">
                                                <h3 class="feature-title">Official dedicated intro- duction of your
                                                    company</h3>
                                                <div>

                                                    <p class="text-muted">
                                                        Present yourself! You have now the chance to introduce your
                                                        company in our official Medias, such as newsletter and social
                                                        media accounts.
                                                    </p>

                                                   
                                                </div>

                                                <div>
                                                    <a href="#" class="btn btn-primary feature-btn">Send details now</a>
                                                </div>


                                                <p class="feature-small mt-4"><small>This feature is included in your account once per
                                                    year.</small></p>


                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->


                             <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/post-article-on-blog.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="card listing-card-bloc">

                                            <div class="card-body">
                                                <h3 class="feature-title">Post article on the official AFRK50 Blog Page</h3>
                                                <div>

                                                    <p class="text-muted">
                                                        Take your chance to post your own article on our Blog Page and reach thousands of people in and outside the AFRK50 community.
                                                    </p>

                                                   
                                                </div>

                                                <div>
                                                    <a href="#" class="btn btn-primary feature-btn">Submit blog post</a>
                                                </div>


                                                <p class="feature-small mt-4"><small>This feature is included in your account once per
                                                    year.</small></p>


                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->


                             <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/carrier-boosting-consultation.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0">
                                        <div class="card listing-card-bloc">

                                            <div class="card-body">
                                                <h3 class="feature-title">1 hour Carrier Boosting Consultation</h3>
                                                <div>

                                                    <p class="text-muted">
                                                        Get your 1-hour Carrier Boosting Consultation with one of your professional Consulting partners in order to improve your business today!
                                                    </p>

                                                   
                                                </div>

                                                <div>
                                                    <a href="#" class="btn btn-primary feature-btn">Make an appointment</a>
                                                </div>


                                                <p class="feature-small mt-4"><small>This feature is included in your account once per
                                                    year.</small></p>


                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->



                             <div class="custom-page-title mt-3 ">
                                EXTRA FEATURES
                            </div>

                            <p class="text-muted">
                                In this area you will find all of the Extra Features.
                            </p>




                            <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up" style="min-height: 450px;">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/partner-header-bg-300x300.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0" >
                                        <div class="card listing-card-bloc" style="height: 100%;">

                                            <div class="card-body">
                                                <h3 class="feature-title mt-5" >Newsletter Branding</h3>
                                                <div>

                                                    <h3>€150,00</h3>

                                                   
                                                </div>

                                                <div class="mt-5">
                                                    <a href="{{ path('features_checkout_route', { checkoutID: 'newsletter-branding' }) }}" class="btn btn-primary feature-btn">Buy now</a>
                                                </div>  

                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->

                             <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up" style="min-height: 450px;">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/consulting-header-300x300.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0" >
                                        <div class="card listing-card-bloc" style="height: 100%;">

                                            <div class="card-body">
                                                <h3 class="feature-title mt-5" >Promote your Listing</h3>
                                                <div>

                                                    <h3>€100,00</h3>

                                                   
                                                </div>

                                                <div class="mt-5">
                                                    <a href="{{ path('features_checkout_route', { checkoutID: 'promote-your-listing' }) }}"  class="btn btn-primary feature-btn">Buy now</a>
                                                </div>  

                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->


                             <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up" style="min-height: 450px;">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/smes-300x300.jpg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0" >
                                        <div class="card listing-card-bloc" style="height: 100%;">

                                            <div class="card-body">
                                                <h3 class="feature-title mt-5" >Session with a Business Consultant (1h)</h3>
                                                <div>

                                                    <h3>€150,00</h3>

                                                   
                                                </div>

                                                <div class="mt-5">
                                                    <a href="{{ path('features_checkout_route', { checkoutID: 'session-with-a-business-consultant' }) }}" class="btn btn-primary feature-btn">Buy now</a>
                                                </div>  

                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->


                             <div class="row">
                                <div class="row mb-5 aos-init aos-animate" data-aos="fade-up" style="min-height: 450px;">
                                    <div class="col-sm-6 p-0">
                                        <div class="listing-photoURL"
                                            style="background-image: url(/assets/img/Senegal-IT-Sector-2-300x300.jpeg);"></div>
                                    </div>
                                    <div class="col-sm-6 p-0" >
                                        <div class="card listing-card-bloc" style="height: 100%;">

                                            <div class="card-body">
                                                <h3 class="feature-title mt-5" >Session with a Business Incubator</h3>
                                                <div>

                                                    <h3>€150,00</h3>

                                                   
                                                </div>

                                                <div class="mt-5">
                                                    <a href="{{ path('features_checkout_route', { checkoutID: 'session-with-a-business-incubator' }) }}" class="btn btn-primary feature-btn">Buy now</a>
                                                </div>  

                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                             <!--*********************************************************-->





















                        </div>
                    </div>
            </section>




        </div>

    </div>

</div>




{% endblock %}