{% extends 'base.html.twig' %}

{% block title %}StudentInfo index{% endblock %}

{% block body %}
    <h1>StudentInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EtablismentName</th>
                <th>EtablismentAddress</th>
                <th>StudyDomaine</th>
                <th>StudyStartYear</th>
                <th>IntrestsAreas</th>
                <th>StudentPass</th>
                <th>MoreInfo</th>
                <th>SocialLink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_info in student_infos %}
            <tr>
                <td>{{ student_info.id }}</td>
                <td>{{ student_info.etablismentName }}</td>
                <td>{{ student_info.etablismentAddress }}</td>
                <td>{{ student_info.studyDomaine }}</td>
                <td>{{ student_info.studyStartYear }}</td>
                <td>{{ student_info.intrestsAreas ? student_info.intrestsAreas|join(', ') : '' }}</td>
                <td>{{ student_info.studentPass }}</td>
                <td>{{ student_info.moreInfo }}</td>
                <td>{{ student_info.socialLink }}</td>
                <td>
                    <a href="{{ path('student_info_show', {'id': student_info.id}) }}">show</a>
                    <a href="{{ path('student_info_edit', {'id': student_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_info_new') }}">Create new</a>
{% endblock %}
