 

 
{% extends 'admin-base.html.twig' %}


{% block body %}


	<main class="main-content">
		{% block topNav %}
			{{ parent() }}
		{% endblock %}

		<div class="conatiner-fluid content-inner mt-n5 py-0">
			<div class="row">

				<div class="col-12">
					<div class="card">
						<div class="card-header d-flex justify-content-between flex-wrap">
							<div class="header-title">
								<h4 class="card-title">Reports categories</h4>
							</div>

							<div>

								<a class="btn btn-primary btn-sm" href="{{ path('report_categories_new') }}">Add</a>
							</div>

						</div>
						<div class="card-body w-100">


							  <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Reports</th>
                                            
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for report_category in report_categories %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ report_category.title }}</td>
                                            
                                            <td>
                                                <span class="badge bg-info text-white">{{ report_category.listingReports | length  }} report(s)</span>
                                            </td>
                                            
                                            

                                            <td>
                                                
                                                <a href="{{ path('report_categories_edit', {'id': report_category.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

						</div>


					</div>

				</div>


			{% endblock %}
