{% extends 'admin-base.html.twig' %}


{% block body %}


<main class="main-content">
    {% block topNav %}
    {{ parent() }}
    {% endblock %}

    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between flex-wrap">
                        <div class="header-title">
                            <h4 class="card-title">Categories</h4>
                        </div>

                        <div>

                            <a class="btn btn-primary btn-sm" href="{{ path('category_new') }}">Add</a>
                        </div>

                    </div>
                    <div class="card-body w-100">



                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Listing</th>
                                    
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ category.name }}</td>
                                     <td>
                                        <span class="badge bg-info text-white">{{ category.listing.name }}</span>
                                    </td>
                                    <td>
                                        <a href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="3">No record found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>


                </div>

            </div>


            {% endblock %}