{% extends 'admin-base.html.twig' %}


{% block body %}


<main class="main-content">
    {% block topNav %}
    {{ parent() }}
    {% endblock %}

    <div class="conatiner-fluid content-inner mt-5 py-0">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{path('attributes_index')}}">Attributes & values</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{path('working_days_index')}}">Working days</a>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('payments_plans_index') }}">Payment plans</a>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('country_index') }}">Countries</a>
                        </h6>
                    </div>
                </div>
            </div>
            

            

            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('partners_index') }}">Our partners</a>
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('promotions_index') }}">Promotions</a>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('boosts_index') }}">Boosts</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('report_categories_index') }}">Reports categories</a>
                            
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>
                            <a href="{{ path('how_it_helps_index') }}">How it Helps</a>
                            
                        </h6>
                    </div>
                </div>
            </div>
            


            


            
            

            

            


  
         </div>
    </div>


    {% endblock %}